In [1]:
import pymongo
client =pymongo.MongoClient("mongodb://127.0.0.1:27017/")

mydb=client['Employee']
empinfo=mydb.employeeinformation

In [2]:
record ={
         'Firstname' :'Hridhaan',
         'Lastname' : 'Kageeta',
         'department' : '1st grade',
         'qualification' : 'BE',
         'age':29
}
empinfo.insert_one(record)

In [5]:
record =[{
         'Firstname' :'Hridhaan',
         'Lastname' : 'Kageeta',
         'department' : '1st grade',
         'qualification' : 'BE',
         'age':29
        },
       {
         'Firstname' :'Prasad',
         'Lastname' : 'Janga',
         'department' : 'Bachelors',
         'qualification' : 'Bsc',
         'age':29
        },
       {
         'Firstname' :'Vivaan',
         'Lastname' : 'Kageeta',
         'department' : 'KG',
         'qualification' : 'B.Arch',
         'age':29
        },
        {
        'Firstname' :'Kalyan',
         'Lastname' : 'Kageeta',
         'department' : 'Masters',
         'qualification' : 'MCA',
         'age':29
        },
        {    
        'Firstname' :'Kavya',
         'Lastname' : 'Janga',
         'department' : 'Masters',
         'qualification' : 'MS',
         'age':29
        }]
empinfo.insert_many(record)

In [4]:
empinfo.find_one()

{'_id': ObjectId('609721f2ed24eb306929d52f'),
 'Firstname': 'Hridhaan',
 'Lastname': 'Kageeta',
 'department': '1st grade',
 'qualification': 'BE',
 'age': 29}

In [11]:
#select * from empinfo;
for record in empinfo.find():
    print(record)

{'_id': ObjectId('609721f2ed24eb306929d52f'), 'Firstname': 'Hridhaan', 'Lastname': 'Kageeta', 'department': '1st grade', 'qualification': 'BE', 'age': 29}
{'_id': ObjectId('60972328ed24eb306929d530'), 'Firstname': 'Hridhaan', 'Lastname': 'Kageeta', 'department': '1st grade', 'qualification': 'BE', 'age': 29}
{'_id': ObjectId('60972328ed24eb306929d531'), 'Firstname': 'Prasad', 'Lastname': 'Janga', 'department': 'Bachelors', 'qualification': 'Bsc', 'age': 29}
{'_id': ObjectId('60972328ed24eb306929d532'), 'Firstname': 'Vivaan', 'Lastname': 'Kageeta', 'department': 'KG', 'qualification': 'B.Arch', 'age': 29}
{'_id': ObjectId('60972328ed24eb306929d533'), 'Firstname': 'Kalyan', 'Lastname': 'Kageeta', 'department': 'Masters', 'qualification': 'MCA', 'age': 29}
{'_id': ObjectId('60972328ed24eb306929d534'), 'Firstname': 'Kavya', 'Lastname': 'Janga', 'department': 'Masters', 'qualification': 'MS', 'age': 29}

In [12]:
#Query json documents based on equality conditions
#Select * from employeeinformation where Firstname = 'Kavya';
for record in empinfo.find({'Firstname':'Kavya'}):
    print(record)

{'_id': ObjectId('60972328ed24eb306929d534'), 'Firstname': 'Kavya', 'Lastname': 'Janga', 'department': 'Masters', 'qualification': 'MS', 'age': 29}

In [19]:
#Query documents using query operators($ln,$gt,$nt)
for record in empinfo.find({'qualification':{'$in':['BE','MS']}}):
    print(record)

{'_id': ObjectId('609721f2ed24eb306929d52f'), 'Firstname': 'Hridhaan', 'Lastname': 'Kageeta', 'department': '1st grade', 'qualification': 'BE', 'age': 29}
{'_id': ObjectId('60972328ed24eb306929d530'), 'Firstname': 'Hridhaan', 'Lastname': 'Kageeta', 'department': '1st grade', 'qualification': 'BE', 'age': 29}
{'_id': ObjectId('60972328ed24eb306929d534'), 'Firstname': 'Kavya', 'Lastname': 'Janga', 'department': 'Masters', 'qualification': 'MS', 'age': 29}

In [22]:
for record in empinfo.find({'$or':[{'Firstname':'Kalyan'},{'qualification': 'MCA'}]}):
    print(record)

{'_id': ObjectId('60972328ed24eb306929d533'), 'Firstname': 'Kalyan', 'Lastname': 'Kageeta', 'department': 'Masters', 'qualification': 'MCA', 'age': 29}

In [7]:
inventory=mydb.inventory

In [8]:
inventory.insert_many([
    { 'item': "journal", 'qty': 25, 'size': { 'h': 14, 'w': 21,'uom': "cm" }, 'status': "A" },
   { 'item': "notebook", 'qty': 50,'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "A" },
   { 'item': "paper", 'qty': 100, 'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "D" },
   { 'item': "planner", 'qty': 75, 'size': { 'h': 22.85,'w': 30,'uom': "cm" },'status': "D" },
   { 'item': "postcard", 'qty': 45, 'size': { 'h': 10, 'w': 15.25,'uom': "cm" },'status': "A" }
]);

In [9]:
for record in inventory.find({'size': { 'h': 14, 'w': 21,'uom': "cm" }}):
    print(record)

{'_id': ObjectId('6097321fed24eb306929d535'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('609733c5ed24eb306929d53b'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('609733c5ed24eb306929d542'), 'item': 'sketchbook', 'qty': 80, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('609c1712fa779c674a00c19f'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}

In [10]:
inventory.insert_many([{"item": "canvas",
     "qty": 100,
     "size": {"h": 28, "w": 35.5, "uom": "cm"},
     "status": "A"},
    {"item": "journal",
     "qty": 25,
     "size": {"h": 14, "w": 21, "uom": "cm"},
     "status": "A"},
    {"item": "mat",
     "qty": 85,
     "size": {"h": 27.9, "w": 35.5, "uom": "cm"},
     "status": "A"},
    {"item": "mousepad",
     "qty": 25,
     "size": {"h": 19, "w": 22.85, "uom": "cm"},
     "status": "P"},
    {"item": "notebook",
     "qty": 50,
     "size": {"h": 8.5, "w": 11, "uom": "in"},
     "status": "P"},
    {"item": "paper",
     "qty": 100,
     "size": {"h": 8.5, "w": 11, "uom": "in"},
     "status": "D"},
    {"item": "planner",
     "qty": 75,
     "size": {"h": 22.85, "w": 30, "uom": "cm"},
     "status": "D"},
    {"item": "postcard",
     "qty": 45,
     "size": {"h": 10, "w": 15.25, "uom": "cm"},
     "status": "A"},
    {"item": "sketchbook",
     "qty": 80,
     "size": {"h": 14, "w": 21, "uom": "cm"},
     "status": "A"},
    {"item": "sketch pad",
     "qty": 95,
     "size": {"h": 22.85, "w": 30.5, "uom": "cm"},
     "status": "A"}])

In [11]:
inventory.update_one(
{"item":"sketch pad"},
{"$set":{"size.uom":"m","status":"P"},
"$currentDate":{"lastModified":True}}
)

In [12]:
# Access database  
mydatabase = client['Students']  
    
# Access collection of the database  
collection=mydatabase['studentscores']  
data = [ 
    {"user":"Krish", "subject":"Database", "score":80}, 
    {"user":"Amit",  "subject":"JavaScript", "score":90}, 
    {"user":"Amit",  "title":"Database", "score":85}, 
    {"user":"Krish",  "title":"JavaScript", "score":75}, 
    {"user":"Amit",  "title":"Data Science", "score":60},
    {"user":"Krish",  "title":"Data Science", "score":95}] 
  
collection.insert_many(data)

In [15]:
### Find Amit And Krish Total Subjects

agg_result = collection.aggregate(
    [{
        "$group" :
        {"_id" : "$user",
          "Total records" : {"$sum" : 1}
        }}
    ])
for i in agg_result: 
    print(i)

{'_id': 'Amit', 'Total records': 3}
{'_id': 'Krish', 'Total records': 3}

In [ ]:
{
  "address": {
     "building": "1007",
     "coord": [ -73.856077, 40.848447 ],
     "street": "Morris Park Ave",
     "zipcode": "10462"
  },
  "borough": "Bronx",
  "cuisine": "Bakery",
  "grades": [
     { "date": { "$date": 1393804800000 }, "grade": "A", "score": 2 },
     { "date": { "$date": 1378857600000 }, "grade": "A", "score": 6 },
     { "date": { "$date": 1358985600000 }, "grade": "A", "score": 10 },
     { "date": { "$date": 1322006400000 }, "grade": "A", "score": 9 },
     { "date": { "$date": 1299715200000 }, "grade": "B", "score": 14 }
  ],
  "name": "Morris Park Bake Shop",
  "restaurant_id": "30075445"
}